# Python 3.10.15
fastapi==0.115.2
uvicorn==0.32.0
# Web framework for building the API
pymongo
motor==3.6.0
langchain-openai==0.2.3
langchain-core==0.3.12
langchain-mongodb==0.2.0
langchain-community==0.3.2
langchain==0.3.4
numpy==1.26.4
pandas==2.2.3
pydantic==2.9.2
python-dotenv==1.0.1
requests==2.32.3
streamlit==1.39.0
openai==1.52.0
